#mainbody{
  background-image: url("/static/img/background.png");
  background-size: 100% auto ;
}
.link{
  background: #5da8da;
  padding: 7px 12px;
  border: 0;
  color: black;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  border-radius: 7px;
  float:right;
}
#logo{
  float:left;
  width: 2%;
   height: 2%;
}
#content{
  padding-top: 200px;
  text-align: center;
  color: DarkGoldenRod;
}
#heading{
  color:DarkGoldenRod;
  text-align: center;
}
table{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
}
th{
  height: 50px;
  padding: 30px;
  background-color: PapayaWhip ;
  color: yellowgreen;
}
td{
  text-align: center;
  height: 50px;
  padding: 20 px;
  color: OliveDrab  ;
}
table, td, th {
    border: 2px solid GoldenRod;
}
#content:hover {
  background-color: HoneyDew;
}
#link{
  background: DarkGoldenRod;
  padding: 7px 5px;
  border: 0;
  color: black;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 7px;

}
