#mainbody{
  background-image: url("/static/img/background.png");
  background-size: 100% auto ;

}
#submitButton{
  background: #5da8da;
  padding: 7px 12px;
  border: 0;
  color: black;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  border-radius: 7px;
}

.link{
  background: #5da8da;
  padding: 7px 12px;
  border: 0;
  color: black;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  border-radius: 7px;
  float:right;
}
#heading{
  color:DarkGoldenRod;
}
