#heading{
  text-align:center;
  color:GoldenRod;
}

#headingBlock{

}

#mainbody{
  background-image: url("../img/background.png");

  background-size: 100% auto ;
}
.link{
  background: #5da8da;
  padding: 7px 12px;
  border: 0;
  color: black;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  border-radius: 7px;
}
#logo{
  float:left;
  width: 2%;
   height: 2%;
}
table {
    border-collapse: collapse;
    width: 100%;
}
#content:hover {
  background-color: HoneyDew;
}
th{
  height: 50px;
  padding: 30px;
  border-bottom: 1px solid GoldenRod;
  border-top: 2px solid GoldenRod;
  background-color: PapayaWhip ;
  color: yellowgreen;
}
td{
  text-align: center;
  height: 30px;
  padding: 20 px;
  border-bottom: 1px solid GoldenRod;
  color: OliveDrab  ;
}
/*table, td, th {
    border: 1px solid black;
}*/
