<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Course Alert Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
  </head>

  <body id="loginPage">
      <div>
        <h3>Course Alert</h3>
      </div>
      <div>
        <form method="post" action="{% url 'login' %}">{% csrf_token %}
          <div>
            <input class="inputBlock" name = "username" type="text" placeholder="username"/>
          </div>
          <div>
            <input class="inputBlock" name = "password" type="password" placeholder="password"/>
          </div>
          <div>
            <button class="loginBtn" type="submit"> Login </button>
            <a class="loginBtn" type="button" href="signup/">Sign Up</a>
          </div>
        </form>
      </div>
      {% if form.errors %}
        <p id=messageLogin> *Your username and password didn't match*</p>
      {% endif %}
  </body>
</html>
