<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/login.css">
  </head>

  <body id=loginPage>
      <div>
        <h3>Course Alert</h3>
      </div>
      <div>
        <form method="post">{% csrf_token %}
          <div>
            <input type="text" class="inputBlock" name="username" maxlength="150" autofocus required id="id_username" placeholder="username"/>
          </div>
          <div>
            <input type="password" class="inputBlock" name="password1" required id="id_password1" placeholder="password" />
          </div>
          <div>
            <input type="password" class="inputBlock" name="password2" required id="id_password2" placeholder="confirm Password"/>
          </div>
          <div class="inputDiv">
            <a class="loginBtn" type="button" href="{% url 'login' %}">Log In</a>
            <button class="loginBtn" type="submit"> Sign Up </button>
          </div>
        </form>
      </div>
      {% if form.errors %}
        <p id=messageLogin> <li>Your password can't be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can't be a commonly used password.</li><li>Your password can't be entirely numeric.</li></p>
      {% endif %}
  </body>
</html>
